doctype html
html
  head
    include ../partials/head.pug
    link(rel='stylesheet', href='/stylesheets/products-list.css',type='text/css')
  body
    include ../partials/jumbotron-navbar.pug
    .page-content        
        h1=varTitle
        table.table
            thead
                tr
                    th Name
                    th Price
                    th Actions
            tbody
                a.btn.btn-success.btn-lg(href='products/add-product' role='button' aria-disabled='true') Add Product
                each product in varProducts
                    tr
                        td=product.name
                        td=product.price        
                        td
                            a(href="products/delete/"+product._id class="btn btn-danger") Delete
                            a(href="products/edit/"+product._id class="btn btn-warning") Edit
                            a(href="products/cart/"+product._id class="btn btn-primary") Add to Cart


    include ../partials/footer.pug