head
    title Add Product
    
    link(rel='stylesheet', href='/stylesheets/add-product.css',type='text/css')
    

body
    .container
      .row
        .col-md-4
          .form_main
            h4.heading
              strong ADD
              | Product
              span
            .form
              form#add-product-form(action='/products/add-product' method='post' name='add-product-form')
                label(for='name') Product Name
                input.txt(type='text' class="input" placeholder='Please input Product Name' value='' name='name')
                label(for='price') Product Price
                input.txt(type='text' class="input" placeholder='Please input Product Price' value='' name='price')
                input.search-btn(type='submit' class="input"  name='submit')
                //- a(href="/products" class="btn btn-danger") Back