head
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="jumbotron">
    <div class="container text-center">
        <img id="logo" src="/images/WEB LOGO final.PNG" alt="GTH" srcset="">
    </div>
</div>
<nav id="navbar" class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class=" "><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="#">Deals</a></li>
                <li><a href="#">Stores</a></li>
                <li><a href="#">Contact</a></li>
                <li class="search-form">
                    <form class="form-inline mt-5">
                        <input class="form-control mr-sm-2 mt-5 " type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 mt-5" type="submit">Search</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                if !user
                    <li><a href="/signin"><span class=" "></span> Sign in </a></li>
                if user
                    <li><a href="/signin"><span class=" "></span> logout </a></li>

                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a></li>
            </ul>
        </div>
    </div>
</nav>