//- index.pug
doctype html
html
  head
    include partials/head.pug
  body
    include partials/jumbotron-navbar.pug
    .page-content  
      h1 My Site
      p Welcome to my super lame site.
    include partials/footer.pug