//- index.pug
doctype html
html
  head
    include partials/head.pug
  body
    include partials/jumbotron-navbar.pug
    .page-content  
      h1 Welcome to Electric Bazaar
    include partials/footer.pug